<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iCarcassonne.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CC0A0E01E45001F00119818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC0A0F41E45002100119818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC0A0FF1E45002100119818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
