<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>NW</key>
		<dict>
			<key>NORTH</key>
			<string>2</string>
			<key>WEST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>G1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G2</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G2</string>
				<key>UP</key>
				<string>G1</string>
				<key>RIGHT</key>
				<string>GS1</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>C2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>CS1</string>
				<key>LEFT</key>
				<string>C1</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>C1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C2</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>N</key>
		<dict>
			<key>NORTH</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G2</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G2</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G2</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G2</string>
			</dict>
		</dict>
		<key>NE</key>
		<dict>
			<key>NORTH</key>
			<string>2</string>
			<key>EAST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>G4</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G3</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>C6</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C5</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>C5</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C6</string>
				<key>DOWN</key>
				<string>CS3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>G3</string>
				<key>UP</key>
				<string>G4</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>GS1</string>
			</dict>
		</dict>
		<key>E</key>
		<dict>
			<key>EAST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>CS3</string>
				<key>UP</key>
				<string>C5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C7</string>
				<key>LEFT</key>
				<string>CS2</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>CS3</string>
				<key>UP</key>
				<string>C5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C7</string>
				<key>LEFT</key>
				<string>CS2</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>CS3</string>
				<key>UP</key>
				<string>C5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C7</string>
				<key>LEFT</key>
				<string>CS2</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>CS3</string>
				<key>UP</key>
				<string>C5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C7</string>
				<key>LEFT</key>
				<string>CS2</string>
			</dict>
		</dict>
		<key>SE</key>
		<dict>
			<key>SOUTH</key>
			<string>2</string>
			<key>EAST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>C7</string>
				<key>UP</key>
				<string>CS3</string>
				<key>RIGHT</key>
				<string>C8</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>C8</string>
				<key>UP</key>
				<string>C7</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G8</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G7</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>G7</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G8</string>
				<key>LEFT</key>
				<string>GS2</string>
			</dict>
		</dict>
		<key>S</key>
		<dict>
			<key>SOUTH</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G7</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G6</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G7</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G6</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G7</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G6</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G7</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G6</string>
			</dict>
		</dict>
		<key>SW</key>
		<dict>
			<key>SOUTH</key>
			<string>2</string>
			<key>WEST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>C3</string>
				<key>UP</key>
				<string>CS1</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C4</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G6</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>GS2</string>
				<key>DOWN</key>
				<string>G5</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G5</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G6</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>C4</string>
				<key>UP</key>
				<string>C3</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>W</key>
		<dict>
			<key>WEST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string>C2</string>
				<key>RIGHT</key>
				<string>CS2</string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string>C2</string>
				<key>RIGHT</key>
				<string>CS2</string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string>C2</string>
				<key>RIGHT</key>
				<string>CS2</string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string>C2</string>
				<key>RIGHT</key>
				<string>CS2</string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>M</key>
		<dict>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>CS3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS1</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>CS3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS1</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>CS3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS1</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>CS3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS1</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>NW</key>
		<dict>
			<key>NORTH</key>
			<string>1</string>
			<key>WEST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>CS2</string>
				<key>DOWN</key>
				<string>CS3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>CS2</string>
				<key>DOWN</key>
				<string>CS3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>CS2</string>
				<key>DOWN</key>
				<string>CS3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>CS2</string>
				<key>DOWN</key>
				<string>CS3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>N</key>
		<dict>
			<key>NORTH</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C1</string>
				<key>DOWN</key>
				<string>CS4</string>
				<key>LEFT</key>
				<string>CS1</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C1</string>
				<key>DOWN</key>
				<string>CS4</string>
				<key>LEFT</key>
				<string>CS1</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C1</string>
				<key>DOWN</key>
				<string>CS4</string>
				<key>LEFT</key>
				<string>CS1</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C1</string>
				<key>DOWN</key>
				<string>CS4</string>
				<key>LEFT</key>
				<string>CS1</string>
			</dict>
		</dict>
		<key>NE</key>
		<dict>
			<key>NORTH</key>
			<string>1</string>
			<key>EAST</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>C2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C1</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G2</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G1</string>
				<key>DOWN</key>
				<string>G3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>C1</string>
				<key>UP</key>
				<string>C2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS2</string>
			</dict>
		</dict>
		<key>E</key>
		<dict>
			<key>EAST</key>
			<string>3</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>G3</string>
				<key>UP</key>
				<string>G2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G4</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G5</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>R1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>R2</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>R2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>R1</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>SE</key>
		<dict>
			<key>SOUTH</key>
			<string>2</string>
			<key>EAST</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>G5</string>
				<key>UP</key>
				<string>G4</string>
				<key>RIGHT</key>
				<string>G6</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G6</string>
				<key>UP</key>
				<string>G5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G7</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G8</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>G8</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G7</string>
				<key>LEFT</key>
				<string>G9</string>
			</dict>
		</dict>
		<key>S</key>
		<dict>
			<key>SOUTH</key>
			<string>3</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>R4</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>R3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G9</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G8</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>R3</string>
				<key>UP</key>
				<string>R4</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>G10</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G11</string>
			</dict>
		</dict>
		<key>SW</key>
		<dict>
			<key>SOUTH</key>
			<string>2</string>
			<key>WEST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>C3</string>
				<key>UP</key>
				<string>CS3</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C4</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G11</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G10</string>
				<key>DOWN</key>
				<string>G12</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G12</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G11</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>C4</string>
				<key>UP</key>
				<string>C3</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>W</key>
		<dict>
			<key>WEST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>CS3</string>
				<key>UP</key>
				<string>CS1</string>
				<key>RIGHT</key>
				<string>CS4</string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>CS3</string>
				<key>UP</key>
				<string>CS1</string>
				<key>RIGHT</key>
				<string>CS4</string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>CS3</string>
				<key>UP</key>
				<string>CS1</string>
				<key>RIGHT</key>
				<string>CS4</string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>CS3</string>
				<key>UP</key>
				<string>CS1</string>
				<key>RIGHT</key>
				<string>CS4</string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>M</key>
		<dict>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>CS4</string>
				<key>UP</key>
				<string>CS2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS3</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>CS4</string>
				<key>UP</key>
				<string>CS2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS3</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>CS4</string>
				<key>UP</key>
				<string>CS2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS3</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>CS4</string>
				<key>UP</key>
				<string>CS2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS3</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>NW</key>
		<dict>
			<key>NORTH</key>
			<string>1</string>
			<key>WEST</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>C1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C2</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>C2</string>
				<key>UP</key>
				<string>C1</string>
				<key>RIGHT</key>
				<string>CS1</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G3</string>
				<key>LEFT</key>
				<string>G1</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>G1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G2</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>N</key>
		<dict>
			<key>NORTH</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C2</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C2</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C2</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C2</string>
			</dict>
		</dict>
		<key>NE</key>
		<dict>
			<key>NORTH</key>
			<string>1</string>
			<key>EAST</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>C4</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C3</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G9</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G8</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G8</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G9</string>
				<key>DOWN</key>
				<string>GS2</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>C3</string>
				<key>UP</key>
				<string>C4</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS1</string>
			</dict>
		</dict>
		<key>E</key>
		<dict>
			<key>EAST</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string>G8</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>GS3</string>
				<key>LEFT</key>
				<string>G7</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string>G8</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>GS3</string>
				<key>LEFT</key>
				<string>G7</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string>G8</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>GS3</string>
				<key>LEFT</key>
				<string>G7</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string>G8</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>GS3</string>
				<key>LEFT</key>
				<string>G7</string>
			</dict>
		</dict>
		<key>SE</key>
		<dict>
			<key>SOUTH</key>
			<string>2</string>
			<key>EAST</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>GS3</string>
				<key>UP</key>
				<string>GS2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G10</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>GS3</string>
				<key>UP</key>
				<string>GS2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G10</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>GS3</string>
				<key>UP</key>
				<string>GS2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G10</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>GS3</string>
				<key>UP</key>
				<string>GS2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G10</string>
			</dict>
		</dict>
		<key>S</key>
		<dict>
			<key>SOUTH</key>
			<string>3</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>R5</string>
				<key>UP</key>
				<string>R4</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>R6</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G10</string>
				<key>UP</key>
				<string>G7</string>
				<key>RIGHT</key>
				<string>GS3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>R6</string>
				<key>UP</key>
				<string>R5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>G6</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>GS1</string>
			</dict>
		</dict>
		<key>SW</key>
		<dict>
			<key>SOUTH</key>
			<string>2</string>
			<key>WEST</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string>G5</string>
				<key>RIGHT</key>
				<string>G6</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string>G5</string>
				<key>RIGHT</key>
				<string>G6</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string>G5</string>
				<key>RIGHT</key>
				<string>G6</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string>G5</string>
				<key>RIGHT</key>
				<string>G6</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>W</key>
		<dict>
			<key>WEST</key>
			<string>3</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>G3</string>
				<key>UP</key>
				<string>G2</string>
				<key>RIGHT</key>
				<string>G4</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>R2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>R3</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>R1</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G5</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>GS1</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>R1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>R2</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>M</key>
		<dict>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>G4</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G7</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G3</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G7</string>
				<key>UP</key>
				<string>G4</string>
				<key>RIGHT</key>
				<string>GS2</string>
				<key>DOWN</key>
				<string>G10</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>R4</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>R5</string>
				<key>LEFT</key>
				<string>R3</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>R3</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>R4</string>
				<key>LEFT</key>
				<string>R2</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>NW</key>
		<dict>
			<key>NORTH</key>
			<string>2</string>
			<key>WEST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>G1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G2</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G2</string>
				<key>UP</key>
				<string>G1</string>
				<key>RIGHT</key>
				<string>GS1</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>C2</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>CS1</string>
				<key>LEFT</key>
				<string>C1</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>C1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C2</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>N</key>
		<dict>
			<key>NORTH</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G3</string>
				<key>DOWN</key>
				<string>GS2</string>
				<key>LEFT</key>
				<string>G2</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G3</string>
				<key>DOWN</key>
				<string>GS2</string>
				<key>LEFT</key>
				<string>G2</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G3</string>
				<key>DOWN</key>
				<string>GS2</string>
				<key>LEFT</key>
				<string>G2</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>GS1</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G3</string>
				<key>DOWN</key>
				<string>GS2</string>
				<key>LEFT</key>
				<string>G2</string>
			</dict>
		</dict>
		<key>NE</key>
		<dict>
			<key>NORTH</key>
			<string>2</string>
			<key>EAST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>G4</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G3</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>C6</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C5</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>C5</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C6</string>
				<key>DOWN</key>
				<string>CS2</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>G3</string>
				<key>UP</key>
				<string>G4</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>GS1</string>
			</dict>
		</dict>
		<key>E</key>
		<dict>
			<key>EAST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string>C5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C7</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string>C5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C7</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string>C5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C7</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>CS2</string>
				<key>UP</key>
				<string>C5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C7</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>SE</key>
		<dict>
			<key>SOUTH</key>
			<string>2</string>
			<key>EAST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>C7</string>
				<key>UP</key>
				<string>CS2</string>
				<key>RIGHT</key>
				<string>C8</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>C8</string>
				<key>UP</key>
				<string>C7</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G8</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G7</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>G7</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G8</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>S</key>
		<dict>
			<key>SOUTH</key>
			<string>2</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>GS3</string>
				<key>UP</key>
				<string>GS2</string>
				<key>RIGHT</key>
				<string>G7</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G5</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>GS3</string>
				<key>UP</key>
				<string>GS2</string>
				<key>RIGHT</key>
				<string>G7</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G5</string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>GS3</string>
				<key>UP</key>
				<string>GS2</string>
				<key>RIGHT</key>
				<string>G7</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G5</string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>GS3</string>
				<key>UP</key>
				<string>GS2</string>
				<key>RIGHT</key>
				<string>G7</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G5</string>
			</dict>
		</dict>
		<key>SW</key>
		<dict>
			<key>SOUTH</key>
			<string>2</string>
			<key>WEST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>C3</string>
				<key>UP</key>
				<string>CS1</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C4</string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>G5</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>GS3</string>
				<key>DOWN</key>
				<string>G6</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>G6</string>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G5</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>C4</string>
				<key>UP</key>
				<string>C3</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>W</key>
		<dict>
			<key>WEST</key>
			<string>1</string>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string>C2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string>C2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string>C2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>CS1</string>
				<key>UP</key>
				<string>C2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>M</key>
		<dict>
			<key>UP</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string>GS1</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>GS3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>RIGHT</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string>GS1</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>GS3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>DOWN</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string>GS1</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>GS3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>LEFT</key>
			<dict>
				<key>id</key>
				<string>GS2</string>
				<key>UP</key>
				<string>GS1</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>GS3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
