<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tile</key>
	<dict>
		<key>NW</key>
		<dict>
			<key>NORTH</key>
			<string>1</string>
			<key>WEST</key>
			<string>1</string>
			<key>CS1</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>CS2</string>
				<key>DOWN</key>
				<string>CS3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>N</key>
		<dict>
			<key>NORTH</key>
			<string>1</string>
			<key>CS2</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>C1</string>
				<key>DOWN</key>
				<string>CS4</string>
				<key>LEFT</key>
				<string>CS1</string>
			</dict>
		</dict>
		<key>NE</key>
		<dict>
			<key>NORTH</key>
			<string>1</string>
			<key>EAST</key>
			<string>2</string>
			<key>C1</key>
			<dict>
				<key>UP</key>
				<string>C2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>CS2</string>
			</dict>
			<key>C2</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C1</string>
			</dict>
			<key>G1</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G2</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>G2</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G1</string>
				<key>DOWN</key>
				<string>G3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>E</key>
		<dict>
			<key>EAST</key>
			<string>3</string>
			<key>G3</key>
			<dict>
				<key>UP</key>
				<string>G2</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>G4</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G5</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>R1</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>R2</string>
			</dict>
			<key>R2</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>R1</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>SE</key>
		<dict>
			<key>EAST</key>
			<string>2</string>
			<key>SOUTH</key>
			<string>2</string>
			<key>G5</key>
			<dict>
				<key>UP</key>
				<string>G4</string>
				<key>RIGHT</key>
				<string>G6</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>G6</key>
			<dict>
				<key>UP</key>
				<string>G5</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>G7</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G8</string>
			</dict>
			<key>G8</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>G7</string>
				<key>LEFT</key>
				<string>G9</string>
			</dict>
		</dict>
		<key>S</key>
		<dict>
			<key>SOUTH</key>
			<string>3</string>
			<key>G9</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G8</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>R4</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string>R3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>R3</key>
			<dict>
				<key>UP</key>
				<string>R4</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>G10</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>G11</string>
			</dict>
		</dict>
		<key>SW</key>
		<dict>
			<key>WEST</key>
			<string>1</string>
			<key>SOUTH</key>
			<string>2</string>
			<key>G11</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G10</string>
				<key>DOWN</key>
				<string>G12</string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>C3</key>
			<dict>
				<key>UP</key>
				<string>CS3</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string>C4</string>
			</dict>
			<key>C4</key>
			<dict>
				<key>UP</key>
				<string>C3</string>
				<key>RIGHT</key>
				<string></string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
			<key>G12</key>
			<dict>
				<key>UP</key>
				<string></string>
				<key>RIGHT</key>
				<string>G11</string>
				<key>DOWN</key>
				<string></string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
		<key>W</key>
		<dict>
			<key>WEST</key>
			<string>1</string>
			<key>CS3</key>
			<dict>
				<key>UP</key>
				<string>CS1</string>
				<key>RIGHT</key>
				<string>CS4</string>
				<key>DOWN</key>
				<string>C3</string>
				<key>LEFT</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
